<template>
  <section class="content">
    <div class="row center-block">
    </div>

    <div class="row center-block">
      
      <div class="col-md-6">
        <h2>Last runs</h2>
        <div class="box">
          <!--
          <div class="box-header">
            <h3 class="box-title">4 last runs</h3>
          </div>-->
          <!-- /.box-header -->
          <div class="box-body no-padding table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Job name</th>
                  <th>End date</th>
                  <th>Execution ID</th>
                  <th>Progress</th>
                  <th style="width: 40px">Label</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td><a href="javascript:;" title="Job details">Export Order</a></td>
                  <td>14/08/2018 14:08:27</td>
                  <td>2345623454789696</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-red">ERROR</span></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td><a href="javascript:;" title="Job details">Import catalog from PIM</a></td>
                  <td>14/08/2018 14:08:27</td>
                  <td>2345623454789696</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-yellow" style="width: 100%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-yellow">PENDING</span></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td><a href="javascript:;" title="Job details">Export catalog</a></td>
                  <td>14/08/2018 14:08:27</td>
                  <td>2345623454789696</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-primary" style="width: 100%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">SKIPPED</span></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td><a href="javascript:;" title="Job details">Import Pricebooks</a></td>
                  <td>14/08/2018 14:08:27</td>
                  <td>2345623454789696</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-green">DONE</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <div class="col-md-6">
        <h2>Currently running</h2>
        <div class="box">
          <!--
          <div class="box-header">
            <h3 class="box-title">4 last runs</h3>
          </div>-->
          <!-- /.box-header -->
          <div class="box-body no-padding table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Job name</th>
                  <th>Start date</th>
                  <th>Execution ID</th>
                  <th>Progress</th>
                  <th style="width: 40px">Label</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td><a href="javascript:;" title="Job details">Export Order</a></td>
                  <td>14/08/2018 14:08:27</td>
                  <td>2345654789696</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-primary" style="width: 55%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">RUNNING</span></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td><a href="javascript:;" title="Job details">Import catalog from PIM</a></td>
                  <td>14/08/2018 14:08:27</td>
                  <td>2345654789696</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-primary" style="width: 70%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">RUNNING</span></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td><a href="javascript:;" title="Job details">Export catalog</a></td>
                  <td>14/08/2018 14:08:27</td>
                  <td>234565472345</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">RUNNING</span></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td><a href="javascript:;" title="Job details">Import Pricebooks</a></td>
                  <td>14/08/2018 14:08:27</td>
                  <td>2345623454789696</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-primary" style="width: 90%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">RUNNING</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <div class="row center-block">
      <h2>Search jobs execution</h2>
      <div class="col-md-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div id="example1_length" class="dataTables_length">

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 table-responsive">
                  <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr role="row">
                        <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 167px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">Job name</th>
                        <th aria-label="Browser: activate to sort column ascending" style="width: 207px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Start date</th>
                        <th aria-label="Platform(s): activate to sort column ascending" style="width: 182px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">End date</th>
                        <th aria-label="Engine version: activate to sort column ascending" style="width: 142px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Scope</th>
                        <th aria-label="CSS grade: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="even" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-green">DONE</span></td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-red">ERROR</span></td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-green">DONE</span></td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-red">ERROR</span></td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-green">DONE</span></td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-red">ERROR</span></td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-green">DONE</span></td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-red">ERROR</span></td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-green">DONE</span></td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-red">ERROR</span></td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-green">DONE</span></td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">pfdc-kr-importdeliveryconfirmation</td>
                        <td>14/08/2018 20:47:43</td>
                        <td>14/08/2018 20:50:43</td>
                        <td>PFDC-KR</td>
                        <td><span class="badge bg-red">ERROR</span></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="1" rowspan="1">Job name</th>
                        <th colspan="1" rowspan="1">Start date</th>
                        <th colspan="1" rowspan="1">End date</th>
                        <th colspan="1" rowspan="1">Scopen</th>
                        <th colspan="1" rowspan="1">Status</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from 'jquery'
// Require needed datatables modules
import 'datatables.net'
import 'datatables.net-bs'

export default {
  name: 'Tables',
  mounted () {
    this.$nextTick(() => {
      $('#example1').DataTable()
    })
  }
}
</script>

<style>
/* Using the bootstrap style, but overriding the font to not draw in
   the Glyphicons Halflings font as an additional requirement for sorting icons.

   An alternative to the solution active below is to use the jquery style
   which uses images, but the color on the images does not match adminlte.

@import url('/static/js/plugins/datatables/jquery.dataTables.min.css');
*/

@import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
}

table.dataTable thead .sorting_asc:after {
  content: "\f0dd";
}

table.dataTable thead .sorting_desc:after {
  content: "\f0de";
}
</style>
