<template>
  <div>
    <h1 class="text-center">Jobs Schedules Definition</h1>
    <section class="content">
      <div class="row" v-if="jobsSchedulesDefinition">
        <div class="col-md-4" v-for="job in jobsSchedulesDefinition">
          <div v-bind:class="'box box-' + job.status">
            <div class="box-header with-border">
              <i v-bind:class="'fa fa-' + job.icon + ' fa-2x'"></i>
              <h3 class="box-title">{{job.name}}</h3>
            </div>
            <div class="box-body with-border">
              <span>{{job.description}}</span>
            </div>
            <div class="box-body">
              <button type="button" class="btn btn-primary">Run</button>
              <button type="button" class="btn btn-info">Details</button>
              <button type="button" class="btn btn-dark">Last run</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import {jobsSchedulesDefinition} from '../../../demo'

  export default {
    name: 'JobsSchedules',
    data () {
      return {
        jobsSchedulesDefinition
      }
    }
  }
</script>

<style>
</style>
